
/*Main Website usage*/
body {
    margin: 0;
    background: lightgray;
    background-size: cover;
    overflow: hidden;
}
html{

    overflow-y: scroll;
}

#row-portfolio{
    display:block;
    width: 100%;
    padding-top: 6%;
    height: 70px;
    font-family: 'Ubuntu', sans-serif;
}

.header{
    font-size: 30px;
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.intro{
    font-size: 20px;
    padding-top: 20px;
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

#title{
    background-image: url("../Resources/ProjectsHeader.jpg");
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
    zoom: 1;
    /*!*filter: alpha(opacity=50);*!*/
    /*opacity: 0.5;*/
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 40px;

}

/*title decoration*/
hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 2px auto;
    height: 0;
    width: 20%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border-radius: 80%;
    border-top: 1px solid#24b662;
    border-bottom: 1px solid#24b662;
}

#separator{
    display:block;
    float: left;
    margin-top: 30px;
}

#project{
    text-align: center;
    display: inline-block;
    height: 150px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 80px;

}

#project-selector-list{
    display: block;
    padding-top: 40px;
    width: 50%;
    margin-left: 37%;
}
.project-selector-button:hover{
    background-color: #24b662;
}

.project-selector{
    list-style-type: none;
    display: inline-block;
}

.project-selector-button{
    border: none;
    border-radius: 15px;
    font-family: 'Ubuntu', sans-serif;
    background-color: transparent;
    color: white;
    height: 40px;
    min-width: 50px;
}

#collection
{
    color: whitesmoke;
    display: inline-block;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    height: 40px;
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 60px;
}

.row .col-md-6{
    display:inline-block;
    width: 200px;
    position: relative;
    margin: 40px;
    float: left;
    height: 30%
}

/*this is for the social media icons*/
#socialIcons{
    display: inline-block;
    float: right;
    margin-top: 30px;
    margin-right: 25px;
}
.iconsContainer {
    color:#fff;
    background: transparent;
    border-radius:4px;
    text-align:center;
    text-decoration:none;
    font-family:fontawesome;
    position: relative;
    display: inline-block;
    width:40px;
    height:28px;
    padding-top:12px;
    margin:0 2px;
    -o-transition:all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-font-smoothing: antialiased;
}

.iconsContainer:hover {
    background: white;
    color: black;
}

/* pop-up text */

.iconsContainer span {
    color:#666;
    position:absolute;
    font-family:sans-serif;
    bottom:0;
    left:-25px;
    right:-25px;
    padding:5px 7px;
    z-index:-1;
    font-size:14px;
    border-radius:2px;
    background:#fff;
    visibility:hidden;
    opacity:0;
    -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

.iconsContainer span:before {
    content:'';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position:absolute;
    bottom:-5px;
    left:40px;
}

/* text pops up when icon is in hover state */

.iconsContainer:hover span {
    bottom:50px;
    visibility:visible;
    opacity:1;
}

/* font awesome icons */

.iconsContainer:nth-of-type(1):before {
    content:'\f09a';
}
.iconsContainer:nth-of-type(2):before {
    content:'\f08c';
}
.iconsContainer:nth-of-type(3):before {
    content:'\f113';
}

/** The navigation menu links *!*/

.sidenav {
    height: 30%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: transparent; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 20px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    display:block;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offCanvas a:focus{
    color: #C0C0C0;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 20px;
}

/*Added nav bar side*/
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#content {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#navButton{
    border-style: none;
    background-color:transparent;
    background-image: url("../Resources/navImage.png");
    background-size: 100%;
    background-origin: content-box;
    width: 60px;
    height: 30px;
    float:left;
    display: block;
    overflow: hidden;

    border-radius: 0px;
    margin-left: 25px;
    margin-top: 0px;
}
a{
    font-family: 'Ubuntu', sans-serif;
    color: white;
}